In [40]:
# imports
import panel as pn
#pn.extension('plotly')
import plotly.express as px
import pandas as pd
import hvplot.pandas
import matplotlib.pyplot as plt
import numpy as np
import os
from pathlib import Path
from dotenv import load_dotenv

import warnings
warnings.filterwarnings('ignore')

file_path_2010 = Path("../Data/RawData/2010.csv")
file_path_2011 = Path("../Data/RawData/2011.csv")
file_path_2012 = Path("../Data/RawData/2012.csv")
file_path_2013 = Path("../Data/RawData/2013.csv")
file_path_2014 = Path("../Data/RawData/2014.csv")
file_path_2015 = Path("../Data/RawData/2015.csv")
file_path_2016 = Path("../Data/RawData/2016.csv")
file_path_2017 = Path("../Data/RawData/2017.csv")
file_path_2018 = Path("../Data/RawData/2018.csv")
file_path_2019 = Path("../Data/RawData/2019.csv")
coor_path = Path("../Data/RawData/coordinates.csv")

data_2010 = pd.read_csv(file_path_2010)
data_2010['Year'] = '2010'
data_2011 = pd.read_csv(file_path_2011)
data_2011['Year'] = '2011'
data_2012 = pd.read_csv(file_path_2012)
data_2012['Year'] = '2012'
data_2013 = pd.read_csv(file_path_2013)
data_2013['Year'] = '2013'
data_2014 = pd.read_csv(file_path_2014)
data_2014['Year'] = '2014'

data_2015 = pd.read_csv(file_path_2015)
data_2015['Year'] = '2015'
data_2016 = pd.read_csv(file_path_2016)
data_2016['Year'] = '2016'
data_2017 = pd.read_csv(file_path_2017)
data_2017['Year'] = '2017'
data_2018 = pd.read_csv(file_path_2018)
data_2018['Year'] = '2018'
data_2019 = pd.read_csv(file_path_2019)
data_2019['Year'] = '2019'
coordinates = pd.read_csv(coor_path)

data_2010 = data_2010[["Year","Player","Tm","Pos","FantasyPoints"]]
data_2011 = data_2011[["Year","Player","Tm","Pos","FantasyPoints"]]
data_2012 = data_2012[["Year","Player","Tm","Pos","FantasyPoints"]]
data_2013 = data_2013[["Year","Player","Tm","Pos","FantasyPoints"]]
data_2014 = data_2014[["Year","Player","Tm","Pos","FantasyPoints"]]
data_2015 = data_2015[["Year","Player","Tm","Pos","FantasyPoints"]]
data_2016 = data_2016[["Year","Player","Tm","Pos","FantasyPoints"]]
data_2017 = data_2017[["Year","Player","Tm","Pos","FantasyPoints"]]
data_2018 = data_2018[["Year","Player","Tm","Pos","FantasyPoints"]]
data_2019 = data_2019[["Year","Player","Tm","Pos","FantasyPoints"]]

data_2010 = data_2010.set_index("Year")
data_2011 = data_2011.set_index("Year")
data_2012 = data_2012.set_index("Year")
data_2013 = data_2013.set_index("Year")
data_2014 = data_2014.set_index("Year")
data_2015 = data_2015.set_index("Year")
data_2016 = data_2016.set_index("Year")
data_2017 = data_2017.set_index("Year")
data_2018 = data_2018.set_index("Year")
data_2019 = data_2019.set_index("Year")


full_data = pd.concat([data_2010, data_2011, data_2012, data_2013, data_2014, data_2015, data_2016, data_2017, data_2018, data_2019])

full_data = full_data[full_data['FantasyPoints'] != 0]

full_data.to_csv('../Data/CleanData/full_data.csv', encoding='utf-8')

# full_data.sort_values('Pos')
# full_data_player_sort.to_csv('../Data/CleanData/full_data_player_sort.csv', encoding='utf-8')

# player_mean = full_data.groupby(['Player']).mean()

# player_mean.plot(kind='bar')
# player_mean.hvplot.bar(width=800, rot=90)
# data_2010[["Player", "FantasyPoints"]].plot(kind='bar')

In [41]:
# Read the Mapbox API key
load_dotenv()
map_box_api = os.getenv("mapbox")

# Set the Mapbox API
px.set_mapbox_access_token("pk.eyJ1IjoiYW1hY2s1NiIsImEiOiJja3RldzZmcnAwMmd5Mm5wZngyejR2cm5iIn0.JohlA6vRxmH-iugH7u_xXA"
                          )

In [42]:
coordinates.drop(labels=['zip', 'pic', 'Unnamed: 6', 'Conference'], axis=1, inplace=True)
coordinates.rename(columns={'Tm':'Team'})
coordinates = coordinates.set_index('Team')

       latitude   longitude
Team
TEN   36.166461  -86.771289
NYG   40.812194  -74.076983
PIT   40.446786  -80.015761
CAR   35.225808  -80.852861
BAL   39.277969  -76.622767
TB    27.975967  -82.503350
IND   39.760056  -86.163806
MIN   44.973881  -93.258094
ARI   33.527700 -112.262608
DAL   32.747778  -97.092778
ATL   33.757614  -84.400972
NYJ   40.812194  -74.076983
DEN   39.743936 -105.020097
MIA   25.957919  -80.238842
PHI   39.900775  -75.167453
CHI   41.862306  -87.616672
NE    42.090925  -71.264350
WAS   38.907697  -76.864517
GB    44.501306  -88.062167
LAC   32.783117 -117.119525
NOR   29.950931  -90.081364
HOU   29.684781  -95.410956
BUF   42.773739  -78.786978
SFO   37.713486 -122.386256
JAX   30.323925  -81.637356
CLE   41.506022  -81.699564
OAK   37.751411 -122.200889
KC    39.048914  -94.484039
LAR   38.632975  -90.188547
SEA   47.595153 -122.331625
CIN   39.095442  -84.516039
DET   42.340156  -83.045808

In [43]:


# coor_mapbox = px.scatter_mapbox(coordinates, lat='latitude', lon='longitude', color='Team')
# coor_mapbox.show()

In [53]:
full_data = full_data.rename(columns={'Tm':'Team'})
mean = full_data.groupby(['Team']).mean()
# full_data.head()
# mean = mean.set_index("Team") 
# coordinates
#c.merge(full_data, how='inner', left_index=True, right_index=True)
coords_and_mean = pd.concat([mean, coordinates], axis=1)

coords_and_mean

     FantasyPoints Team   latitude   longitude
2TM      38.049485  NaN        NaN         NaN
3TM      33.536923  NaN        NaN         NaN
4TM      -0.300000  NaN        NaN         NaN
ARI      69.984678  NaN        NaN         NaN
ATL      95.828987  NaN        NaN         NaN
BAL      85.043205  NaN        NaN         NaN
BUF      69.668639  NaN        NaN         NaN
CAR      84.756579  NaN        NaN         NaN
CHI      79.797692  NaN        NaN         NaN
CIN      84.897419  NaN        NaN         NaN
CLE      69.086235  NaN        NaN         NaN
DAL      92.085490  NaN        NaN         NaN
DEN      88.430260  NaN        NaN         NaN
DET      90.250886  NaN        NaN         NaN
GNB      89.216190  NaN        NaN         NaN
HOU      83.260252  NaN        NaN         NaN
IND      82.492771  NaN        NaN         NaN
JAX      65.279451  NaN        NaN         NaN
KAN      80.685333  NaN        NaN         NaN
LAC      95.915217  NaN        NaN         NaN
LAR      91.185246  NaN        NaN         NaN
MIA      84.415918  NaN        NaN         NaN
MIN      81.022532  NaN        NaN         NaN
NOR     101.840723  NaN        NaN         NaN
NWE      96.972785  NaN        NaN         NaN
NYG      81.530760  NaN        NaN         NaN
NYJ      68.038235  NaN        NaN         NaN
OAK      77.532381  NaN        NaN         NaN
PHI      93.158052  NaN        NaN         NaN
PIT      84.760355  NaN        NaN         NaN
..             ...  ...        ...         ...
2              NaN  PIT  40.446786  -80.015761
3              NaN  CAR  35.225808  -80.852861
4              NaN  BAL  39.277969  -76.622767
5              NaN   TB  27.975967  -82.503350
6              NaN  IND  39.760056  -86.163806
7              NaN  MIN  44.973881  -93.258094
8              NaN  ARI  33.527700 -112.262608
9              NaN  DAL  32.747778  -97.092778
10             NaN  ATL  33.757614  -84.400972
11             NaN  NYJ  40.812194  -74.076983
12             NaN  DEN  39.743936 -105.020097
13             NaN  MIA  25.957919  -80.238842
14             NaN  PHI  39.900775  -75.167453
15             NaN  CHI  41.862306  -87.616672
16             NaN   NE  42.090925  -71.264350
17             NaN  WAS  38.907697  -76.864517
18             NaN   GB  44.501306  -88.062167
19             NaN  LAC  32.783117 -117.119525
20             NaN  NOR  29.950931  -90.081364
21             NaN  HOU  29.684781  -95.410956
22             NaN  BUF  42.773739  -78.786978
23             NaN  SFO  37.713486 -122.386256
24             NaN  JAX  30.323925  -81.637356
25             NaN  CLE  41.506022  -81.699564
26             NaN  OAK  37.751411 -122.200889
27             NaN   KC  39.048914  -94.484039
28             NaN  LAR  38.632975  -90.188547
29             NaN  SEA  47.595153 -122.331625
30             NaN  CIN  39.095442  -84.516039
31             NaN  DET  42.340156  -83.045808

[69 rows x 4 columns]

In [45]:


# coor_mapbox = px.scatter_mapbox(coordinates, lat='latitude', lon='longitude', color='Team')
# coor_mapbox.show()

In [46]:
# data_2019 = data_2019.set_index("Tm") 
# coordinates.merge(full_data, how='inner', left_index=True, right_index=True)
# coordinates.head()